@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #00ffea;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  max-width: 100%;
  height: 100vh;
}
body .banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  animation: bannerAnimate 30s ease-in infinite;
  background: url(../images/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .banner .banner__header {
  position: relative;
  width: 100%;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 60px;
}
body .banner .banner__header .header__logo {
  color: #007000;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "Permanent Marker", cursive;
}
body .banner .banner__header .header__logo span {
  color: #a10000;
  font-family: "Permanent Marker", cursive;
}
body .banner .banner__header .header__navbar {
  display: flex;
  list-style: none;
}
body .banner .banner__header .header__navbar li a {
  padding: 18px 40px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: 0.5s;
}
body .banner .banner__header .header__navbar li a:hover {
  border-bottom: 1px solid #009b00;
  border-top: 1px solid #dd0000;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.2);
}
body .banner .banner__header .header__menu {
  display: none;
}
body .banner .banner__content {
  position: relative;
  width: 100%;
  top: 60px;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .banner .banner__content .content__text {
  position: relative;
  bottom: 60px;
  font-size: 140px;
  font-weight: 400;
  letter-spacing: 3px;
  background: rgba(0, 0, 0, 0.397);
  text-align: center;
  border-radius: 50%;
  line-height: 140px;
  padding: 100px 100px;
  box-shadow: inset 5px 5px 10px rgba(250, 250, 250, 0.8), inset -5px -5px 10px rgba(250, 250, 250, 0.8), inset 5px -5px 10px rgba(250, 250, 250, 0.8), inset -5px 5px 10px rgba(250, 250, 250, 0.8);
}
body .banner .banner__content .content__text .row1 {
  color: #a10000;
  font-family: "Permanent Marker", cursive;
}
body .banner .banner__content .content__text .row2 {
  color: rgba(250, 250, 250, 0.795);
  font-size: 140px;
  font-family: "Permanent Marker", cursive;
}
body .banner .banner__content .content__text .row3 {
  color: #004600;
  font-family: "Permanent Marker", cursive;
}
body .home {
  position: relative;
  width: 100%;
  height: auto;
  padding: 70px 140px;
  background: #dddddc;
}
body .home .home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .home .home__container .home__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .home .home__container .home__header h1 {
  color: #a10000;
  font-family: "Permanent Marker", cursive;
  font-size: 36px;
  padding-bottom: 30px;
}
body .home .home__container .home__header p {
  color: #004600;
  font-size: 14px;
  text-align: center;
  font-weight: 200;
}
body .home .home__container .home__content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  grid-column-gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
body .home .home__container .home__content .item {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background: #fff;
  transition: all 0.3s;
  border-right: 1px solid #004600;
  border-left: 1px solid #a10000;
}
body .home .home__container .home__content .item h3 {
  color: #a10000;
  font-size: 18px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 30px;
}
body .home .home__container .home__content .item img {
  width: 200px;
  height: 200px;
  border-bottom: 2px solid #a10000;
  border-top: 2px solid #004600;
}
body .home .home__container .home__content .item .comppos {
  margin: 20px 0;
  width: 72%;
  border-right: 1px solid #004600;
  border-left: 1px solid #a10000;
  height: auto;
  text-align: center;
  padding: 5px 0;
}
body .home .home__container .home__content .item .comppos .name {
  color: black;
  font-size: 16px;
}
body .home .home__container .home__content .item .comppos ul {
  list-style: none;
}
body .home .home__container .home__content .item .comppos ul li {
  font-size: 12px;
  color: #313131;
}
body .home .home__container .home__content .item .comppos .itemButton {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
body .home .home__container .home__content .item .comppos .itemButton a {
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  color: #313131;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
  letter-spacing: 0.5px;
  padding: 5px 5px;
  background: transparent;
  transition: all 0.5s ease-in;
}
body .home .home__container .home__content .item .comppos .itemButton a:hover {
  background: linear-gradient(to top, #3f3f3f, #000000);
  transition: all 0.5s ease-in;
  color: #fff;
}
body .home .home__container .home__content .item .comppos .itemButton .order {
  background: transparent;
}
body .home .home__container .home__content .item .comppos .itemButton .order:hover {
  background: linear-gradient(to top, #026e8f, #0065fc);
  transition: all 0.5s ease-in;
  color: #fff;
  border-color: #026e8f;
}
body .home .home__container .home__content .item:hover {
  transition: all 0.3s;
  box-shadow: inset 5px 5px 30px rgba(0, 0, 0, 0.4), inset -5px -5px 30px rgba(0, 0, 0, 0.4);
}
body .home .home__container .home__content .item:hover img {
  transform: translateY(-5px);
  transition: all 0.3s;
}
body .form {
  padding: 70px 140px;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body .form .form__header {
  padding-bottom: 50px;
}
body .form .form__header h2 {
  color: #a10000;
  font-family: "Permanent Marker", cursive;
  font-size: 36px;
  padding-bottom: 30px;
}
body .form .form__header p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-weight: 200;
}
body .form .form__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex: 1 0 50%;
}
body .form .form__content .second__block {
  width: 100%;
}
body .form .form__content .second__block .input__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .form .form__content .second__block .input__block input {
  margin-bottom: 20px;
  width: 60%;
  height: 40px;
  padding: 20px 20px;
  background: rgba(250, 250, 250, 0.6);
  border: none;
  outline: none;
  color: #575757;
  font-size: 14px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
body .form .form__content .second__block .input__block input::placeholder {
  color: #ffffff;
}
body .form .form__content .second__block .input__block input:hover {
  border-left: 5px solid #a10000;
  transition: all 0.1s;
}
body .form .form__content .second__block .button__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .form .form__content .second__block .button__block textarea {
  width: 60%;
  height: 100px;
  resize: none;
  padding: 10px 20px;
  background: rgba(250, 250, 250, 0.6);
  border: none;
  outline: none;
  font-size: 14px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #575757;
  margin-bottom: 40px;
}
body .form .form__content .second__block .button__block textarea::placeholder {
  color: #ffffff;
}
body .form .form__content .second__block .button__block textarea:hover {
  border-left: 5px solid #a10000;
  transition: all 0.1s;
}
body .form .form__content .second__block .button__block a {
  color: #fcfcfc;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  border-right: 4px solid #a10000;
  border-left: 4px solid #a10000;
  text-decoration: none;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.6);
  transition: 0.2s ease-in-out;
}
body .form .form__content .second__block .button__block a:hover {
  letter-spacing: 2px;
  transition: 0.2s ease-in-out;
}
body .form .form__content .first__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
}
body .form .form__content .first__block .block {
  margin-bottom: 40px;
  color: #fff;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 14px;
}
body .footer {
  background: url(../images/footer.png);
  width: 100%;
  padding: 40px 140px 20px 140px;
  height: auto;
  display: flex;
  flex-direction: column;
}
body .footer .footer__upper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
body .footer .footer__upper .footer__first {
  display: flex;
  flex-direction: column;
}
body .footer .footer__upper .footer__first span {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
body .footer .footer__upper .footer__first p {
  color: #8d8c8c;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  border-left: 2px solid #727272;
  padding: 5px 15px;
  font-size: 14px;
}
body .footer .footer__upper .footer__second {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body .footer .footer__upper .footer__second span {
  font-size: 16px;
  color: #f1f1f1;
  margin-bottom: 20px;
  font-weight: 700;
}
body .footer .footer__upper .footer__second a {
  color: #8d8c8c;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 5px 20px;
}
body .footer .footer__lower {
  border-top: 1px solid #727272;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
body .footer .footer__lower div {
  color: #727272;
  font-size: 14px;
}

@media (max-width: 1116px) {
  body .home .home__container .home__content .item img {
    width: 160px;
    height: 160px;
  }
  body .home .home__container .home__content .item .comppos {
    width: 80%;
  }
}
@media (max-width: 992px) {
  body .banner .banner__header {
    padding: 0 70px;
  }
  body .banner .banner__content .content__text {
    padding: 80px 80px;
    font-size: 110px;
    line-height: 110px;
  }
  body .home {
    padding: 70px;
  }
  body .form {
    padding: 70px;
  }
}
@media (max-width: 768px) {
  body .banner .banner__header {
    padding: 0 60px;
  }
  body .banner .banner__header .header__navbar {
    display: none;
    transition: all 0.5s ease-in-out;
    position: relative;
  }
  body .banner .banner__header .header__navbar.active {
    z-index: 1;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 92vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #a10000;
    border-bottom: 2px solid #a10000;
    transition: all 0.5s ease-in-out;
  }
  body .banner .banner__header .header__navbar.active li {
    margin-bottom: 40px;
  }
  body .banner .banner__header .header__navbar.active li a {
    padding: 20px 70px;
    font-size: 26px;
    font-weight: 800;
  }
  body .banner .banner__header .header__menu {
    position: relative;
    background: url(../images/icons/menu.png);
    background-position: center;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  body .banner .banner__header .header__menu.active {
    background: url(../images/icons/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
  }
  body .banner .banner__content .content__text {
    position: relative;
    bottom: 60px;
    padding: 90px;
    font-size: 115px;
    line-height: 115px;
  }
  body .home {
    padding: 40px;
  }
  body .home .home__container .home__content {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  body .form {
    padding: 40px;
    height: auto;
  }
  body .form .form__content {
    flex-direction: column;
  }
  body .footer {
    padding: 20px 40px;
  }
}
@media (max-width: 555px) {
  body .banner .banner__content .content__text {
    padding: 60px;
    font-size: 60px;
    line-height: 60px;
  }
  body .banner .banner__content .content__text .row2 {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  body .banner .banner__header {
    padding: 0 20px;
    height: 60px;
  }
  body .home .home__container .home__header h1 {
    font-size: 26px;
    padding-bottom: 10px;
  }
  body .home .home__container .home__header p {
    font-size: 12px;
  }
  body .home .home__container .home__content {
    grid-gap: 10px;
    padding-top: 30px;
  }
  body .home .home__container .home__content .item h3 {
    color: #a10000;
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  body .home .home__container .home__content .item img {
    width: 130px;
    height: 130px;
  }
  body .home .home__container .home__content .item .comppos {
    margin: 10px 0;
  }
  body .home .home__container .home__content .item .comppos .name {
    font-size: 14px;
  }
  body .home .home__container .home__content .item .comppos ul li {
    font-size: 10px;
  }
  body .home .home__container .home__content .item .comppos .itemButton {
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .home .home__container .home__content .item .comppos .itemButton a {
    width: 80px;
    margin-bottom: 5px;
    font-size: 12px;
  }
  body .form .form__header {
    padding-bottom: 20px;
  }
  body .form .form__header h2 {
    font-size: 26px;
    padding-bottom: 10px;
    text-align: center;
  }
  body .form .form__header p {
    font-size: 12px;
  }
  body .form .form__content .first__block {
    padding: 0;
  }
  body .form .form__content .first__block .block {
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
  }
  body .form .form__content .second__block .input__block input {
    width: 100%;
    font-size: 12px;
  }
  body .form .form__content .second__block .button__block textarea {
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
  }
  body .form .form__content .second__block .button__block a {
    font-size: 14px;
    padding: 8px 16px;
  }
  body .footer .footer__upper {
    justify-content: space-between;
  }
  body .footer .footer__upper .footer__first span {
    font-size: 14px;
  }
  body .footer .footer__upper .footer__first p {
    font-size: 12px;
    padding: 0 10px;
  }
  body .footer .footer__upper .footer__second span {
    font-size: 14px;
  }
  body .footer .footer__upper .footer__second a {
    font-size: 12px;
    padding: 0;
  }
  body .footer .footer__lower {
    padding-top: 10px;
  }
  body .footer .footer__lower div {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  body .home {
    padding: 20px 60px;
  }
  body .home .home__container .home__content {
    grid-template-columns: 1fr;
  }
  body .home .home__container .home__content .item h3 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .home .home__container .home__content .item img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 320px) {
  body .footer .footer__upper {
    justify-content: space-between;
  }
  body .footer .footer__upper .footer__first span {
    font-size: 12px;
  }
  body .footer .footer__upper .footer__first p {
    font-size: 10px;
    padding: 0 2px;
  }
  body .footer .footer__upper .footer__second {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .footer .footer__upper .footer__second span {
    font-size: 12px;
  }
  body .footer .footer__upper .footer__second a {
    font-size: 10px;
    padding: 0;
  }
  body .footer .footer__lower {
    padding-top: 10px;
  }
  body .footer .footer__lower div {
    font-size: 10px;
  }
}
@keyframes bannerAnimate {
  20% {
    background: url(../images/back1.jpg) 1440px 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  80% {
    background: url(../images/back2.jpg) 1440px 900px;
    background-size: cover;
    background-position: center;
  }
}